@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family:Couture, Helvetica, sans-serif
}

.nav-top {
    background-color: white;
}

.nav-top ul {
    margin: 0;
    padding: 0;
	text-align: center;	
}

.nav-top li {
    margin: 0;
    padding: 0;
    display: inline; 
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: inline-block;
	margin: ;
	padding: 1rem 10%;
	color: maroon;
	font-size: 1.5rem; 
	text-decoration: none;
}


img {
    overflow: hidden;
	width: 100%;
    display: block;
    border-style: solid;
    border-color: Maroon;
    border-bottom-width:.5rem;
    height: auto;
}

body {
    margin:1rem;
    padding:1rem;
}

article {
    margin:0;
    padding:0 10%;
    overflow:hidden;
    font-family: futura, arial, sans-serif;
    font-weight:normal;
    font-size:.75rem;
}

h1 {
    font-family:'Nexa-XBold', Couture, Coolvetica, Revolution, Futura, Sans-Serif;
    font-weight:normal;
    line-height:2.5rem;
    color: white;
    font-size: 3rem;
    margin: .3rem 0 0 0;
    line-height: 2.5rem;
    padding: 0 2.5%;
    font-kerning:auto;
    position: absolute;
    top: .6rem;
    left: 7rem
}

body {
    margin: 0;
    padding: 0;
    background-color:white;
}

.masthead {
    background-color: Maroon;
    overflow: hidden;
}

.logo {
    height: 7rem;
    width: auto;
    margin: 1rem .5rem .5rem 1rem;
    border-style: none;
}

article {
    margin: 0;
    padding: 0 0%;
    overflow: hidden;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/triforce.jpg);
    background-color: maroon;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40rem;
}

h2 {
    margin: 5rem 0 1.5rem 0;
    background-color: rgba(211, 0, 0, 0.64);
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: -.1rem;
    padding: .25rem 5%;
    font-weight: normal;
    font-family: futura, arial, sans-serif;
    color: white;
}

figure {
    background-color: maroon;
    margin: 0 0 1.5rem 0;
    padding: 0;
    
}

figcaption {
    background-color: maroon;
    color: white;
    font-size: 1rem;
}

p {
    line-height: 1.5rem;
    margin: 0 .5rem 1.5rem;
    font-family: futura, arial, sans-serif;
    color: black;
    padding: 0;
    font-size: 1rem
}

h3 {
   line-height: 1.5rem;
    margin: 0 0 0rem;
    font-family: futura, arial, sans-serif;
    color: Maroon;
    padding: 0 6%;
}

footer {
    margin: 0;
    padding: 1.5rem 5% 6rem;
    background-color: maroon;
}

.nav-bottom ul { 
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bottom a,
.nav-bottom a:link,
.nav-bottom a:visited {
    color: white;
    text-decoration: none;
    font-size: .875em;
    line-height: 1.5rem;
}
li {
    font-size: 1rem;
    font-weight: lighter;
    font-family: futura, arial, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}